.provider {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-left: 120px;
  margin-right: 120px;
}

.list {
  margin-top: 60px;
  width: 100%;
}
